.contact-us {
  .scroll-content {
    padding: 0 16px;
    > img {
      margin: 30px auto;
      display: block;
    }
    p {
      margin-bottom: 30px;
    }
    .contact-buttons {
      text-align: center;
      a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #000;
        margin: 20px;
        span {
          display: block;
        }
        img {
          display: inline-block;
          margin: 0 auto 10px;

        }
      }

    }
  }
}
